@ViewBag.Title = "Sign Up"

@model IEnumerable<AvailableTime>

@foreach (AvailableTime x in Model)
{
<div class="card">
    <h5 class="card-header">@x.TimeSlot</h5>

    <form id="@x.TimeSlot" asp-page="Index" method="post">
        <input type="hidden" asp-for="@x.TimeSlot" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            @x.TimeSlot
            <button type="submit" class="btn-success btn-sm pull-right" style="float:right">Purchase</button>
        </span>
    </form>


</div>
    <br />
}
