@using TempleSignUp.Models.ViewModels
@{ViewBag.Title = "Sign Up"; }

@model TimeListViewModel

@foreach (var x in Model.AvailableTimes)

    //Loop through and display available times for selection
{
<div class="card">
    @if (x.Available == true)
    {
        <h5 class="card-header">
            @x.TimeSlot
        <form id="@x.AvailableTimeId" asp-action="SignUp" method="post">
            <input type="hidden" value="@x.TimeSlot" name="TimeSlot" id="TimeSlot" />
            <button type="submit" class="btn-primary btn-sm pull-right" onclick="@{x.Available = false;}" style="float:right">Select Time</button>
        </form>
        </h5>
    }
    @if (x.Available == false)

        //loop through and display unavailable times
    {
        <h5 class="card-header">
            @x.TimeSlot
        <form id="@x.AvailableTimeId" asp-action="SignUp" method="post">
            <input type="hidden" value="@x.TimeSlot" name="TimeSlot" id="TimeSlot" />
            <p class="btn-danger btn-sm pull-right" style="float:right">Unavailable</p>
        </form>
        </h5>
    }
</div>
    <br />
}
